-r requirements-base.txt
--pre
--extra-index-url https://aiinfra.pkgs.visualstudio.com/PublicPackages/_packaging/ort-cuda-13-nightly/pypi/simple/
onnxruntime-gpu==1.26.0.dev20260408003
--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.11.0+cu130
torchvision==0.26.0+cu130
